@font-face {
  font-family: 'Open Sans';
  src: url('./../fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
  font-family: 'Open Sans Italic';
  src: url('./../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}
@font-face {
  font-family: 'Shuneet3 Bold Regular';
  src: url('./../fonts/Shuneet3\ Bold\ Regular.ttf');
}
$base-medium-font-size: 24px;
$base-medium-large-font-size: 29px;
$base-large-font-size: 44px;
$base-small-font-size: 18px;
$base-smaller-font-size: 14px;
$base-background-yellow: #f3ce001c;
$base-toggle-yellow: #debc00;
$base-landing-img-background: #9601c71a;
$base-border-radius: 20px;
$base-purple-color: #9601c7;
body {
  font-family: 'Open Sans' !important;
}
#app {
  height: 100vh;
}
.full-height {
  height: 100%;
}
#yearly-price,
#monthly-price {
  margin-bottom: 1.313rem !important;
}
.landing-main-img {
  max-width: 100%;
  max-height: 100%;
  left: 35%;
  position: relative;
  opacity: 1;
  top: 35%;
}
.column-justified-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.landing-image-container {
  height: 100%;
  max-width: 55.125rem;
  background-color: $base-landing-img-background;
  border-radius: $base-border-radius;
}
.main-body-container {
  padding-right: 1.938rem !important;
  overflow-y: scroll;
  max-height: 100%;
  z-index: 20;
}
.landing-img-padding {
  padding-left: 1.188rem !important;
  padding-top: 0.938rem !important;
  padding-bottom: 1.625rem !important;
}
.landing-title-img {
  width: 17.5rem;
  height: 5.313rem;
}
.router-view-container {
  min-height: 100%;
  width: 100%;
  padding-top: 1.938rem;
  padding-bottom: 1.938rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-row-landing {
  padding-top: 2.813rem;
}
.title-col-landing {
  height: 11rem;
  max-width: 33.438rem !important;
}
.tel-row-landing {
  padding-top: 3rem;
}
.tel-col-landing {
  height: 8.188rem;
  width: 42.125rem !important;
  max-width: 42.125rem !important;
  background-color: $base-background-yellow;
  border-radius: $base-border-radius;
}
.tel-col-thank {
  height: 8.188rem;
  width: 42.125rem !important;
  max-width: 42.125rem !important;
  background-color: $base-background-yellow;
  border-radius: $base-border-radius;
}
.sub-row-landing {
  padding-top: 6.813rem;
  margin-bottom: 6.5rem;
}
.sub-col-landing {
  height: 20.438rem;
  width: 42.125rem;
  max-width: 42.125rem !important;
  width: 42.125rem !important;
  border: 1px solid $base-purple-color;
  border-radius: $base-border-radius;
}
.footer-row {
  height: 5.375rem;
  max-width: 100% !important;
}
.horizontal-space-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.text-centered {
  text-align: center;
}
.subtitle {
  font-size: $base-medium-font-size;
  font-weight: 600;
}
.subtitle-bigger {
  font-size: $base-medium-large-font-size;
  font-weight: 600;
}
.label-big-normal {
  font-size: $base-medium-font-size;
  font-weight: normal;
}
.margin-left-small {
  margin-left: 1rem;
}
.hidden-desktop {
  display: none;
}

.subtitle-bold {
  font-size: $base-medium-font-size;
  font-weight: bold;
}
.column-centered {
  align-items: center !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}
.small-subtitle {
  font-size: $base-small-font-size;
  font-weight: 600;
}
.smaller-text {
  font-size: $base-smaller-font-size;
  font-weight: normal;
}
.small-list-li {
  font-size: $base-small-font-size;
  font-weight: 500;
  list-style: none;
}
.vinder-list-bullet {
  width: 2.188rem;
}
.small-text-normal {
  font-size: $base-small-font-size;
  font-weight: normal;
}
.small-list-li::marker {
  color: $base-purple-color;
}
.regular-list-line-height {
  line-height: 2;
}
.bold-subtitle {
  font-size: $base-large-font-size;
  font-weight: bold;
}
.margin-label:hover {
  cursor: pointer;
}
#subscription-container {
  display: flex !important;
  height: 100% !important;
  align-items: center;
}
.half-width {
  width: 50% !important;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
#sign-up-label {
  background-color: #9601c7;
  color: white;
  width: 16.75rem;
  height: 3.438rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 40px;
  font-size: 24px;
  position: relative;
  bottom: 8%;
  left: 30%;
}
#sign-up-arrow {
  min-width: 20px;
  max-width: 54px;
  margin-left: 1rem !important;
}
.footer-row {
  width: 100% !important;
  height: 5.375rem !important;
}
#sign-up-link {
  color: white;
  text-decoration: none;
}
.footer-btns {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70%;
}
.no-decoration-black {
  text-decoration: none;
  color: black;
}
.no-decoration-black:hover {
  color: black !important;
}
.no-decoration-vinderkind {
  text-decoration: none;
  color: $base-purple-color;
}
.no-decoration-vinderkind:hover {
  color: $base-purple-color;
}
.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #0000001a;
}
.home-view-title {
  font-family: 'Shuneet3 Bold Regular';
  position: absolute;
  top: 20%;
  left: 10%;
  max-width: 30%;
  max-height: 10%;
  font-size: 72px;
}
.small-input-container {
  justify-content: space-between;
  display: flex;
}
.margin-bottom-subtitle {
  margin-bottom: 5.5rem;
}
.margin-small-subtitle {
  margin-bottom: 1.25rem;
}
.horizontal-justified-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-grow-small-input {
  flex-grow: 0.3;
}
#city-input,
#state-input,
#zip-input,
#exp-input,
#cvv-input,
#zip-input {
  width: 100% !important;
}
.thank-you-img-title {
  left: 20% !important;
}
.vinderkind-checkbox {
  width: 35px !important;
  height: 35px !important;
  border-radius: 10px !important;
  border: 1px solid black;
}
.vinderkind-checkbox:checked {
  background-color: #9601c7 !important;
}
.medium-margin-bottom {
  margin-bottom: 3.813rem !important;
}
.small-margin-bottom {
  margin-bottom: 2.563rem !important;
}
.smaller-margin-bottom {
  margin-bottom: 1.688rem !important;
}
.width-80-percent {
  width: 80%;
}
.width-70-percent {
  width: 70%;
}
.width-60-percent {
  width: 60%;
}
.width-50-percent {
  width: 50%;
}
.width-40-percent {
  width: 40%;
}
.width-30-percent {
  width: 30%;
}
.width-20-percent {
  width: 20%;
}
#sub-btn {
  margin-bottom: 1.688rem !important;
}
.mobile-collapsed-nav {
  display: none;
}
.contact-box-height {
  height: 13.875rem !important;
}
.contact-box-margin-bottom {
  margin-bottom: 6.125rem;
}
.box-label {
  background: #9601c7 0% 0% no-repeat padding-box;
  border-radius: 40px;
  opacity: 1;
  color: white;
  font-weight: bold;
  font-size: 24px;
  width: 20.688rem;
  height: 3.438rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 15.6rem;
  left: 25%;
}
.box-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-img-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.box-list-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.box-img {
  width: 11.5rem;
  height: 11.125rem;
}
.box-list-img {
  background: rgba(150, 1, 199, 0.0980392157) 0% 0% no-repeat padding-box;
  padding: 4px;
  border-radius: 50px;
  margin-right: 5px;
}
.box-list {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  line-height: 2.3rem;
}
.box-list {
  li {
    list-style: none;
    span {
      font-size: 18px;
      font-weight: normal;
    }
    .vinder-link {
      text-decoration: none;
      color: #9601c7;
      font-weight: bold;
      font-size: 18px;
    }
  }
}
.footer-form {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .footer-btn-div {
      width: 20%;
      display: flex;
      justify-content: space-evenly;
    }
    .form-input-div {
      height: 3rem;
      width: 75%;
    }
    div {
      input {
        width: 100%;
        height: 44px;
        border: 1px solid #000000;
        border-radius: 25px;
        padding: 1rem;
      }

      input::placeholder {
        color: #cdcdcd;
        font-weight: normal;
        font-size: 16px;
        margin-left: 20px;
      }
      button {
        width: 29%;
        height: 34px;
        background: #9601c7 0% 0% no-repeat padding-box;
        border-radius: 40px;
        font-weight: bold;
        font-size: 16px;
        color: white;
        position: relative;
        bottom: 2.4rem;
        left: 70%;
        border: none;
      }
      .form-router {
        font-weight: 900;
        color: #b7aabb;
        text-decoration: none;
      }
      label {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}

@media (max-width: 540px) {
  #app {
    height: fit-content !important;
    overflow-x: hidden !important;
  }
  .full-body-container {
    background-color: #9601c71a;
  }
  .router-view-container {
    padding-bottom: 0;
  }
  .main-body-container {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1rem !important;
  }
  .landing-image-container {
    background-color: transparent;
  }
  .title-row-landing {
    display: none !important;
  }
  .landing-img-padding {
    max-height: 33rem;
    transition: all 0.1s ease 0s;
  }
  .landing-main-img {
    max-width: 30rem;
    left: 0%;
    top: 0;
    position: relative;
    opacity: 1;
    z-index: 21;
  }
  .landing-title-img {
    width: 11.688rem;
    height: 3.438rem;
  }
  .full-screen-nav {
    display: none !important;
  }
  .mobile-collapsed-nav {
    display: block;
  }
  .home-view-title {
    display: none;
  }
  .tel-row-landing {
    padding-top: 0;
    width: 100% !important;
  }
  .tel-col-landing {
    width: 100% !important;
    max-width: 100% !important;
    background-color: transparent;
  }
  .tel-col-thank {
    width: 100% !important;
    max-width: 100% !important;
    background-color: $base-background-yellow;
  }
  .sub-row-landing {
    padding-top: 2rem;
    max-width: 100% !important;
  }
  .sub-col-landing {
    height: fit-content;
    max-width: 100% !important;
    height: 30rem !important;
  }
  .mobile-full-width {
    width: 100% !important;
  }
  #subscription-container {
    flex-direction: column !important;
  }
  #sign-up-label {
    bottom: 1.5rem !important;
    left: 13% !important;
  }
  #price-toggle {
    height: 40% !important;
  }
  #benefits-list {
    height: 45% !important;
  }
  .footer-row {
    height: 3rem !important;
  }
  .footer-copyright p {
    margin-top: revert;
  }
  .subscbibe-form-div {
    max-width: 100%;
  }
  .small-input-container {
    flex-direction: column !important;
  }

  .mobile-small-font {
    font-size: $base-small-font-size !important;
  }
  .mobile-medium-font {
    font-size: $base-medium-font-size !important;
  }
  .mobile-large-font {
    font-size: 36px !important;
  }
  #sub-btn,
  #account-btn {
    max-width: 100% !important;
    font-size: $base-medium-font-size !important;
    color: white !important;
  }
  .mobile-90-percent {
    width: 90% !important;
  }
  .hidden-desktop {
    display: block;
  }
  #thank-you-row-t1 {
    margin-bottom: 5rem;
  }
  #thank-you-row-t3 {
    margin-bottom: 2.7rem;
  }
  #tel-row-thank {
    margin-bottom: 1rem;
  }
  #copyright-text {
    font-size: 13px !important;
  }
}
@media (min-width: 540px) and (max-width: 720px) {
  #app {
    height: fit-content !important;
    overflow-x: hidden !important;
  }
  .full-body-container {
    background-color: #9601c71a;
  }
  .router-view-container {
    padding-bottom: 0;
  }
  .main-body-container {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1rem !important;
  }
  .landing-image-container {
    background-color: transparent;
  }
  .title-row-landing {
    display: none !important;
  }
  .landing-img-padding {
    max-height: 33rem;
    transition: all 0.1s ease 0s;
  }
  .landing-main-img {
    max-width: 35rem;
    left: 20%;
    top: 0;
    position: relative;
    opacity: 1;
    z-index: 21;
  }
  .landing-title-img {
    width: 11.688rem;
    height: 3.438rem;
  }
  .full-screen-nav {
    display: none !important;
  }
  .mobile-collapsed-nav {
    display: block;
  }
  .home-view-title {
    display: none;
  }
  .tel-row-landing {
    padding-top: 0;
    width: 100% !important;
  }
  .tel-col-landing {
    width: 100% !important;
    max-width: 100% !important;
    background-color: transparent;
  }
  .tel-col-thank {
    width: 100% !important;
    max-width: 100% !important;
    background-color: $base-background-yellow;
  }
  .sub-row-landing {
    padding-top: 2rem;
    max-width: 100% !important;
  }
  .sub-col-landing {
    height: fit-content;
    max-width: 100% !important;
    height: 30rem !important;
  }
  .mobile-full-width {
    width: 100% !important;
  }
  #subscription-container {
    flex-direction: column !important;
  }
  #sign-up-label {
    bottom: 1.5rem !important;
    left: 25% !important;
  }
  #price-toggle {
    height: 40% !important;
  }
  #benefits-list {
    height: 45% !important;
  }
  .footer-row {
    height: 3rem !important;
  }
  .footer-copyright p {
    margin-top: revert;
  }
  .subscbibe-form-div {
    max-width: 100%;
  }
  .small-input-container {
    flex-direction: column !important;
  }

  .mobile-small-font {
    font-size: $base-small-font-size !important;
  }
  .mobile-medium-font {
    font-size: $base-medium-font-size !important;
  }
  .mobile-large-font {
    font-size: 36px !important;
  }
  #sub-btn,
  #account-btn {
    max-width: 100% !important;
    font-size: $base-medium-font-size !important;
    color: white !important;
  }
  .mobile-90-percent {
    width: 90% !important;
  }
  .hidden-desktop {
    display: block;
  }
  #thank-you-row-t1 {
    margin-bottom: 5rem;
  }
  #thank-you-row-t3 {
    margin-bottom: 2.7rem;
  }
  #tel-row-thank {
    margin-bottom: 1rem;
  }
  #copyright-text {
    font-size: 13px !important;
  }
}
@media (min-width: 720px) and (max-width: 1024px) {
  .tel-row-landing {
    padding-top: 0;
    width: 100% !important;
  }
  .tel-col-landing {
    width: 100% !important;
    max-width: 100% !important;
  }
  .tel-col-thank {
    width: 100% !important;
    max-width: 100% !important;
    background-color: $base-background-yellow;
  }
  .sub-row-landing {
    padding-top: 2rem;
    max-width: 100% !important;
  }
  .sub-col-landing {
    height: fit-content !important;
    max-width: 100% !important;
    height: 30rem !important;
  }
  #subscription-container {
    flex-direction: column !important;
  }
  #price-toggle,
  #benefits-list {
    width: 100% !important;
  }
  #sign-up-label {
    top: 1.5rem !important;
    left: 10% !important;
  }
  .footer-btns a {
    font-size: 13px !important;
  }
  #copyright-text {
    text-align: center;
  }
  .landing-main-img {
    max-width: 30rem !important;
    left: 10% !important;
    top: 50% !important;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .tel-row-landing {
    width: 100% !important;
  }
  .tel-col-landing {
    width: 100% !important;
  }
  .sub-row-landing {
    width: 100% !important;
  }
  .sub-col-landing {
    width: 100% !important;
  }
  .tel-row-thank {
    width: 100% !important;
  }
  .tel-col-thank {
    width: 100% !important;
  }
  .sub-row-landing {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
